h1,h2,h3{
            font-family: IBM Plex Sans;
            background-color: darkblue;
    }
p{
    font-family: Arial;
    }
page.title{
            text-decoration: underline;
            margin-left: auto;
            margin-right: auto;

}